.list.item{data: { model_name: "list.class.name.underscore"}}
  .list__name
    = list.name
  .list__cards.card-sortable
    = render list.cards
  .card__add
    = form_for [@board, @card] do |f|
      = f.text_field :name, class: 'list__name__form', placeholder: 'Type Card Name'
      = f.submit 'Add Card', class: 'btn btn-outline-secondary'
