.board
  = render partial: 'shared/board_menu'
  .board__body{ style: 'background-image: url(@board.background.image)'}
    .board__lists.list-sortable
      = render @lists, {board: @board, list: @list}
    .list__add
      .list__name
        Add New List
      .list__add__form
        = form_for [@board, @list] do |f|
          = f.text_field :name, class: 'list__name__form', placeholder: 'Type List Name'
          = f.submit 'Add List', class: 'btn btn-outline-secondary'
